@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;

  background-color: #2C2F40;
  overflow:hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 70%;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;
}

