#chamados {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 3%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

#chamados_ativos {
  background-color: #31323E;
  width: 80%;
  height: auto;
  border-radius: 34px;
  padding: 31px 50px 50px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#order {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;

  color: white;
  font-weight: 600;
}

#ordenar, .chamado {
  background-color: #191A20;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 35px;
  gap: 30px;
}

#status, #tipo, #data {
  background-color: #31323E;
  padding: 5px;

  border: 0px solid;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#status.menu_selecionado,
#tipo.menu_selecionado,
#data.menu_selecionado {
  border: 2px solid rgb(121, 121, 121);
  background-color: #32344f;
}

#status.menu_selecionado .ordenar_btn,
#tipo.menu_selecionado .ordenar_btn,
#data.menu_selecionado .ordenar_btn {
  color: #fff;
}

.ordenar_btn {
  color: #9C9C9C;
  font-size: 1.1em;
  font-weight: 500;
}

.ordenar-menu {
  display: none;
  gap: 10px;
}

.ordenar-menu > a {
  color: #fff;

  background-color: #1d1d23;
  padding: 5px;
  border: 2px solid #191a20;
  border-radius: 10px;
  text-decoration: none;

  transition: background-color 0.3s ease-in-out;
}

.ordenar-menu > a:hover {
  color: #fff;

  background-color: #10102e;
  padding: 5px;
  border: 2px solid #191a20;
  border-radius: 10px;
  text-decoration: none;
}


.ordenar-menu.ativado {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.97em;
  font-weight: 500;
}


.chamado {
  color: white;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.chamado:hover {
  padding: 25px 40px; /* aumenta sem quebrar o layout */
  background-color: #1e1f28;
}

.chamado.expandido {
  padding: 25px 40px; /* aumenta sem quebrar o layout */
  background-color: #1e1f28;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.info > .esquerda, .direita {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info > .esquerda h1 {
  font-size: 1.7em;
  font-weight: 500;
}

.info > .esquerda h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: #B80B0B;
}

.info > .esquerda p {
  color: #ffffffab;
}

.info > .esquerda {
  width: 70%;
}

.info > .divisoria {
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.info > .direita {
  width: 50%;
}

.divisoria_esq_dir {
  width: 100%;
  height: 2px;
  background-color: white;
}

.detalhes {
  display: none;
}

.detalhes.expandido {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.detalhes_info {
  height: 100%;
  width: 100%;
  background-color: #31323e;
  border-radius: 20px; 
  padding: 15px;

  gap: 30px;
  display: flex;
  flex-direction: column;
}

.detalhes_info > p {
  font-weight: 600;
  font-size: 1.2em;
}

.gerais_especificas {
  display: flex;
  flex-direction: row;
}

.gerais, .especificas {
  text-align: left;
}

.gerais > h1, 
.especificas > h1 {
  text-align: center;
}

.gerais > p, 
.especificas > p {
  font-size: 1.05em;
}

.gerais {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1px; 
}

.especificas {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1px; 
}

.descricao > p {
  font-size: 1.1em;
  background-color: #191a20;
  border-radius: 8px;
  min-height: 3em;
  height: auto;
  text-align: center;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 8px;
}

.anexo > p {
  font-size: 1.1em;
  background-color: #191a20;
  border-radius: 40px;
  min-height: 3em;
  height: auto;
  text-align: center;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 20px;
}

.anexo > p > img {
  width: 100%;
  border-radius: 20px;
}