@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;

  min-height: 100vh;
  height: auto;
  color: white;

  background-color: #2C2F40;

  display: flex;
  justify-content: center;
}

#pagina {
  min-height: 100vh;
  width: 80%;
  max-width: 1152px;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
}