#pagina {
    flex-direction: row;
    padding-bottom: 0;
    width: 70%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #10101B;
}

header > div {
    padding: 7%;
    width: 100%;
}

header > div > img {
    width: 100%;
}

header  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    gap: 15px;
    height: 100%;
}

header nav a {
    color: #878787;
    font-weight: 500;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

    transition: color 0.3s linear;
}

header nav a:hover {
    color: white;
}

header nav a i {
    font-size: 1.5em;
}

#selecionado {
    color: white;
}

.inferior {
    height: 51%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

#conta {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;

  background-color: #272936;
  border-radius: 35px;
  width: 100%;

  padding: 30px;
  gap: 8%;
}

p {
  font-size: 0.9em;
}

main h1 {
    color: white;
    font-weight: 900;
    font-size: 2.2em;
}

main h2 {
    font-size: 1.5em;
    color:white;
    font-weight: 400;
}

#info_basicas, #info_conta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

#foto_perfil, .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#foto_perfil > h2 {
    font-size: 1em;
    font-weight: 500;
    color: #9C9C9C;
    width: 50%;
}

#imagem {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
}

#img {
    background-color: white;
    height: 11vh;
    aspect-ratio: 1;
    border-radius: 9999px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center
}

#img > img {
    height: 110%;
    object-fit: cover;

}

#img_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}
#img_text > p {
    width: auto;
}
#img_text strong {
    color: #B80B0B;
}

div.linha {
    width: 100%;
    height: 2px;
    background-color: #A358FF;
    border-radius: 2px;
}

.info > h2,p {
    width: 50%;
}

.info > h2 {
    font-size: 1em;
    font-weight: 500;
    color: #9C9C9C;
}

.info > p {
    font-weight: 600;
    word-break: break-word; /* ou overflow-wrap: break-word; */
    white-space: normal; /* garante que quebre */
}