#pagina {
    flex-direction: row;
    padding-bottom: 0;
    width: 70%;
    min-height: 100vh;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #10101B;
}

header > div {
    padding: 7%;
    width: 100%;
}

header > div > img {
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    gap: 15px;
    height: 100%;
}

header nav a {
    color: #878787;
    font-weight: 500;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

    transition: color 0.3s linear;
}

header nav a:hover {
    color: white;
}

header nav a i {
    font-size: 1.5em;
}

#selecionado {
    color: white;
}

.inferior {
    height: 51%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

#conta {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}

main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  background-color: #272936;
  border-radius: 35px;
  width: 100%;

  padding: 30px;
  padding-bottom: 50px;
  gap: 30px;
}

p {
  font-size: 0.9em;
}

main h1 {
    color: white;
    font-weight: 900;
    font-size: 2.2em;
}

main h2 {
    font-size: 1.5em;
    color:white;
    font-weight: 400;
}

#info_basicas, #info_conta, #botaooculto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

#foto_perfil, .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

button.info {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px; 
    cursor: pointer;
}

#foto_perfil > h2 {
    font-size: 1em;
    font-weight: 500;
    color: #9C9C9C;
    width: 50%;
}

#imagem {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
}

#img {
    background-color: white;
    height: 11vh;
    aspect-ratio: 1;
    border-radius: 9999px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center
}

#img > img {
    height: 104%;
    object-fit: cover;

}

#img_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}
#img_text > p {
    width: auto;
}
#img_text strong {
    color: #B80B0B;
    font-size: 0.9em;
}

#img_text button {
    all:unset;
}


div.linha {
    width: 100%;
    height: 2px;
    background-color: #A358FF;
    border-radius: 2px;
}

.info > h2,p {
    width: 50%;
}

.info > h2 {
    font-size: 1em;
    font-weight: 500;
    color: #9C9C9C;
}

.info > p {
    font-weight: 600;
    word-break: break-word; /* ou overflow-wrap: break-word; */
    white-space: normal; /* garante que quebre */
}

.botaooculto {
    display: none;
    width: 100%;
    opacity: 0;

    transition: opacity 1s ease-in-out;
}
.botaooculto h2 {
    font-size: 1em;
    font-weight: 500;
    color: #d1d1d1;
    width: 48.5%;
}

.botaooculto input {
    border: 0px;
    border-bottom: 2px solid #A358FF;
    border-radius: 10px;

    background-color: #272936;
    width: 50%;
    color: white;
    font-weight: 600;
    padding: 5px 10px
}

.botaooculto.ativado {
    display: flex;
    align-items: center;
    opacity: 1;
}

#senhas {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

#senha_antiga_container {
    display: flex;
    flex-direction: row;
}
#senha_nova_container {
    display: flex;
    flex-direction: row;
}

i.fa-angle-right {
    transition: transform 0.3s ease-in-out;

}

i.fa-angle-right.rotacionado {
    transform: rotate(90deg);
}

#barra-confirmacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: center center;

    width: auto;
    background-color: #10101B;
    border-radius: 20px;
    opacity: 0;
    padding: 10px 20px;

    transition: transform 0.3s ease-in-out;
}

#barra-confirmacao.visivel {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

#barra-confirmacao > p {
    width: auto;
    margin-right: 25px;
}

div#btns {
    display: flex;
    gap: 10px;
}

#cancelarAlteracao {
    all: unset;
    color: #12BACD;
    font-size: 0.9em;
}

#Salvar {
    padding: 9px;
    border-radius: 10px;
    border: 0px;
    background-color: #116705c2;
    color: #fff;
    font-weight: 600;
}

#overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #00000096;
  width: 100vw;

  z-index: 999;
  opacity: 1;
}

#caixa_mensagem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #31323E;
  color: white;
  z-index: 1000;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
}

#caixa_mensagem p {
  color: #b7b7b7;
  font-weight: 500;
  width: auto;
}

#caixa_mensagem a {
    text-align: center;
  margin-top: 20px;
  width: 70%;
  padding: 10.3px;
    text-decoration: none;

  background-color: #A358FF;
  color: #fff;
  border: 0px solid black;
  border-radius: 12px;

  font-weight: 600;
  font-size: 1.1em;


  transition: transform 0.3s ease-in-out;
}

#caixa_mensagem > a:hover {
  transform: scale(1.1);
}