/*ese é o teste*/

#funcionarios {
  padding-left: 55px;
  padding-right: 55px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

#caixafuncionarios {
height: 500px;
width: 100%;
margin: auto;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
background-color: #2a2f3a; /* fundo da caixa grande */
gap: 20px;


}

.Caixa_Perfis {
  background-color: #1f232b;
    height: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 25px;
    border-radius: 15px;
    color: white;
}

.imagem img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #333; /* só pra caso não tenha foto */
}

.esquerda div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2a3142;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* STATUS VERDE */
.esquerda h4 {
    color: #2ecc71;
    font-weight: 500;
}

/* PARTE DA DIREITA: INFORMAÇÕES EXTRAS */
.direita h3 {
  justify-content: space-between;
}


.direita h3 {
    margin-bottom: 5px;
}

.direita p {
    margin: 2px 2px;
    color: #cfd3db;
    font-size: 10px;
}
