header  {
  display: flex;
  flex-direction: row;

  padding-left: 55px;
  padding-right: 55px;
  height: 4em;
  width: 100%;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
}

img#logo{
  height: 58%;
  transform: translateX(70%);
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
  gap: 25px;
}

nav > a {
  height: 100%;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #9C9C9C;
  font-weight: 500;

  position: relative;

  text-decoration: none;

  font-variation-settings: "wght" 500;
  transition: font-variation-settings 0.4s ease;
}

div.linha {
  width: 100%;
  height: 5px;
  border-radius: 2px;

  position: absolute;
  bottom: 0;

  background-color:#a358ff00;

  transition: background-color 0.5s ease-in-out;
}

nav > a:hover {
  color: #ffffff;
  font-variation-settings: "wght" 700;
}

nav > a:hover .linha {
  background-color: #A358FF;
}

nav:has(> a:not(#selecionado):hover) #selecionado {
  color: #9C9C9C;
  font-variation-settings: "wght" 500;
}

nav:has(> a:not(#selecionado):hover) #selecionadolinha {
  background-color: #a358ff00;
}

a#selecionado {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-variation-settings: "wght" 700;
  position: relative;
  
  transition: color 0.5s ease-in-out;
}

div#selecionadolinha {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #A358FF;
  position: absolute;
  bottom: 0;

  transition: background-color 0.5s ease-in-out;
}