@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;

  min-height: 100vh;
  height: 100%;
  color: white;

  background-color: #2C2F40;

  display: flex;
  justify-content: center;
  align-items: center;
}

#pagina {
  height: 100%;
  width: 70%;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;

  display: flex;
  flex-direction: column;
}

header  {
  display: flex;
  flex-direction: row;

  padding-left: 55px;
  padding-right: 55px;
  height: 10%;
  width: 100%;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
}

img#logo{
    height: 58%;
    transform: translateX(70%);
}


nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  gap: 25px;
}

nav > a {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #9C9C9C;
  font-weight: 500;

  position: relative;

  text-decoration: none;
}

div.linha {
  width: 100%;
  height: 5px;
  border-radius: 2px;

  position: absolute;
  bottom: 0;

  background-color:#a358ff00;

  transition: background-color 0.5s ease-in-out;
}

nav > a:hover {
  color: #ffffff;
}

nav > a:hover .linha {
  background-color: #A358FF;
}

nav:has(> a:not(#selecionado):hover) #selecionado {
  color: #9C9C9C;
}

nav:has(> a:not(#selecionado):hover) #selecionadolinha {
  background-color: #a358ff00;
}



a#selecionado {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  
  transition: color 0.5s ease-in-out;
}

div#selecionadolinha {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #A358FF;
  position: absolute;
  bottom: 0;

  transition: background-color 0.5s ease-in-out;
}



main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#esquerda, #direita {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-left: 54px;
  flex-wrap: wrap;
}

#esquerda > h1 {
  font-size: 3em;
}

#esquerda > h2 {
  color: #A6A6A6;
  font-size: 1.5em;
}

#esquerda > p {
  font-size: 0.9em;
}

#Relatar, #Funcionarios {
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 0.91em;
  border-radius: 6px;
  letter-spacing: 0.04em;
}

#Relatar {
  background-color: #A358FF;
  
}

#Funcionarios {
  background-color: #ffffff00;
  border: 2px solid white;
}

#direita {
  position: relative;
}

#direita > img {
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, 20%);
}

