main {
  display: flex;
  flex-direction: row;
  flex: 1;
  
}

#esquerda, #direita {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 54px;
  flex-wrap: wrap;
  gap: 15px;
}

#esquerda > h1 {
  font-size: 3em;
  height: 1em;
}

#esquerda > h2 {
  color: #A6A6A6;
  font-size: 1.5em;
}

#esquerda > p {
  font-size: 0.9em;
}

#botoes {
  display: flex;
  gap: 30px;
}

#Relatar, #Funcionarios {
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 0.91em;
  border-radius: 6px;
  letter-spacing: 0.04em;
  text-decoration: none;

  transition: transform 0.3s ease-in-out;
}

#Relatar {
  background-color: #A358FF;
  border: 2px solid #A358FF;
}

#Funcionarios {
  background-color: #ffffff00;
  border: 2px solid white;
}

#Relatar:hover {
  transform: scale(1.1);
}
#Funcionarios:hover {
  transform: scale(1.1);
}

#direita {
  position: relative;
  padding: 0;
  display: flex;
  height: 100%;
  width: 50%;
  align-content: flex-start;
}

#direita > img {
  height: 60%;
}

