@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  margin: 0;

  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;

  background-color: #2C2F40;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: auto;
  width: 70%;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;
}





header  {
  display: flex;
  flex-direction: row;

  padding-left: 55px;
  padding-right: 55px;
  height: 10%;
  width: 100%;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
}

img#logo{
    height: 58%;
    transform: translateX(70%);
}


nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  gap: 25px;
}

nav > div {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #9C9C9C;
  font-weight: 500;

  position: relative;
}

div.linha {
  width: 100%;
  height: 5px;
  border-radius: 2px;

  position: absolute;
  bottom: 0;

  background-color:#a358ff00;

  transition: background-color 0.5s ease-in-out;
}

nav > div:hover {
  color: #ffffff;
}

nav > div:hover .linha {
  background-color: #A358FF;
}

nav:has(> div:not(#selecionado):hover) #selecionado {
  color: #9C9C9C;
}

nav:has(> div:not(#selecionado):hover) #selecionadolinha {
  background-color: #a358ff00;
}



div#selecionado {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  
  transition: color 0.5s ease-in-out;
}

div#selecionadolinha {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #A358FF;
  position: absolute;
  bottom: 0;

  transition: background-color 0.5s ease-in-out;
}