@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    font-weight: 500;
    margin: 0px;

    width: 100%;
    height: 100%;
    background-color: #D9D9D9;

    /**/
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative; 

    width: 70%;
    height: 90%;
    border: 3px solid black;
    background-color: #fff;
    border-radius: 8px;

    overflow: hidden;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

p {
    margin: 0px 0px 13px 0px;
}

.formulario {
    position: absolute;
    height: 100%;
    transition: transform 0.6s ease-in-out;

    text-align: center;
    background: #fff;
    display: grid;
    align-content: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.formulario.login {
    left: 0;
    width: 50%;
    z-index: 2;
    padding-left: 10%;
    padding-right: 10%;
}

.formulario.login > label {
    text-align: left;
}

.formulario.registro {
    left: 0;
    width: 50%;
    z-index: 1; 
    padding-left: 10%;
    padding-right: 10%;
}

.container-barralateral {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;

    transition: transform 0.6s ease-in-out;
}   

.barra-lateral {
    background-color: #867DF5;;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%; /* Cobrir a parte da direita e também da esquerda. A classe pai tem 50% do body, se colocarmos 200%, ele vai pegar o body todo */

    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    overflow: hidden;
}

.painel-lateral {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.painel-lateral.barra-direita {
    right: 0;
    transform: translateX(0);
}

.painel-lateral.barra-esquerda {
    transform: translateX(-20%); /* Fazer o painel esquerdo começar mais 
    lateralmente para ter uma animação suave*/
}

label {
    margin-bottom: 8px;
    text-align: left;
    align-self: flex-start;
}

.grupo-input {
    margin-top: 13px;

}

input,select {
    width: 100%;
    height: 2.5em;
    border-radius: 6px;
    border: 3px solid #D9D9D9;
}

button {
    margin-top: 51px;
    border-radius: 18.2px;
    border: 3px solid #5427B4;
    background-color: #874FFF;
    color: white;
    font-weight: bold;

    font-size: 1.2em;
    padding: 5px 95px;

    transition: transform 80ms ease-in;
}

button:active {
    transform:scale(0.95);
}

button:focus {
    outline: none;
}



/* animação */

/* Mover Login para direita */
#container.painel-direito-ativo .formulario.login{
    transform: translateX(100%);
}

/* Mover Registrar para direita */
#container.painel-direito-ativo .formulario.registro{
    transform: translateX(100%);
    opacity: 1;
}

/* Mover Painel para esquerda */
#container.painel-direito-ativo .container-barralateral {
    transform: translateX(-100.1%); /* 0.1 pois estava dando um bug de 1 pixel na lateral */
}

/* Mover o texto do painel */
#container.painel-direito-ativo .barra-lateral {
    transform: translateX(50%);
}
/* Fazendo uma mini animação de indo pra esquerda e voltando*/
#container.painel-direito-ativo .painel-lateral.barra-esquerda {
    transform: translateX(0);
}
/* Fazendo o texto da direita também ter essa animação recuando*/
#container.painel-direito-ativo .painel-lateral.barra-direita {
    transform: translateX(20%);
}