@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  margin: 0;

  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;

  background-color: #2C2F40;
  overflow:hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 70%;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;
}

header  {
  display: flex;
  flex-direction: row;

  padding-left: 55px;
  padding-right: 55px;
  height: 20%;
  width: 100%;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;

}

nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}



nav > div {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}