#reparar {
  padding-left: 55px;
  padding-right: 55px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

#imagens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

#imagens > a{
  background-color: #31323E;
  width: 223px;
  height: 178px;
  border-radius: 15px;

  color: #ffffff;
  font-weight: 700;
  font-size: 1.2em;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 25px;
  
  text-decoration: none;
}

#computador, #perifericos, #outros {
  position: relative;
}

#computador > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18%, -47%);
  transition: transform 0.3s  ease-in-out;
}

#perifericos > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-8%, -47%);
  transition: transform 0.3s  ease-in-out;
}

#outros > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-7%, -30%);
  transition: transform 0.3s  ease-in-out;
}


#computador:hover > img {
  transform: translate(-18%, -47%) scale(1.2);
  transform-origin: 50% 50%;
}

#perifericos:hover > img {
  transform: translate(-8%, -47%) scale(1.2);
  transform-origin: 50% 50%;
}

#outros:hover > img {
  transform: translate(-7%, -30%) scale(1.2);
  transform-origin: 50% 50%;
}