@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;

  min-height: 100vh;
  height: 100%;
  color: white;

  background-color: #2C2F40;

  display: flex;
  justify-content: center;
  align-items: center;
}

#pagina {
  height: 100%;
  width: 70%;
  background-color: #1E202E;
  box-shadow: 0 0 14px 0px #7546e863;

  display: flex;
  flex-direction: column;
}

header  {
  display: flex;
  flex-direction: row;

  padding-left: 55px;
  padding-right: 55px;
  height: 10%;
  width: 100%;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
}

img#logo{
    height: 58%;
    transform: translateX(70%);
}


nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  gap: 25px;
}

nav > a {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #9C9C9C;
  font-weight: 500;

  position: relative;

  text-decoration: none;
}

div.linha {
  width: 100%;
  height: 5px;
  border-radius: 2px;

  position: absolute;
  bottom: 0;

  background-color:#a358ff00;

  transition: background-color 0.5s ease-in-out;
}

nav > a:hover {
  color: #ffffff;
}

nav > a:hover .linha {
  background-color: #A358FF;
}

nav:has(> a:not(#selecionado):hover) #selecionado {
  color: #9C9C9C;
}

nav:has(> a:not(#selecionado):hover) #selecionadolinha {
  background-color: #a358ff00;
}

a#selecionado {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  position: relative;
  
  transition: color 0.5s ease-in-out;
}

div#selecionadolinha {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #A358FF;
  position: absolute;
  bottom: 0;

  transition: background-color 0.5s ease-in-out;
}

#reparar {
  padding: 54px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

#imagens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  height: 100%;
  width: 100%;
}

#imagens > a{
  background-color: #31323E;
  width: 223px;
  height: 178px;
  border-radius: 15px;

  color: #ffffff;
  font-weight: 700;
  font-size: 1.2em;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 25px;
  
  text-decoration: none;
}

#computador, #perifericos, #outros {
  position: relative;
}

#computador > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18%, -47%);
  transition: transform 0.3s  ease-in-out;
}

#perifericos > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-8%, -47%);
  transition: transform 0.3s  ease-in-out;
}

#outros > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-7%, -30%);
  transition: transform 0.3s  ease-in-out;
}


#computador:hover > img {
  transform: translate(-18%, -47%) scale(1.2);
  transform-origin: 50% 50%;
}

#perifericos:hover > img {
  transform: translate(-8%, -47%) scale(1.2);
  transform-origin: 50% 50%;
}

#outros:hover > img {
  transform: translate(-7%, -30%) scale(1.2);
  transform-origin: 50% 50%;
}