#reparar {
  padding-left: 55px;
  padding-right: 55px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

main > form {
  background-color: #31323E;
  padding: 30px 40px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  height: auto;

  gap: 20px;
}

form > .duplaselecao {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.duplaselecao > .grupo-input {
  width: 50%;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 5px;
  width: 100%;
}


.grupo-input > input,select, #descricao {
  width: 100%;
  border-radius: 8px;
  background-color: #1D1E25;
  border: 0px solid black;
  
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  resize: vertical;
}

#descricao {
  height: 8em;
}

.grupo-input > #anexo {
  padding: 10px;
}

#botao {
  display: flex;
  width: 100%;
  justify-content: center;
}

#botao > button {
  margin-top: 30px;
  width: 70%;
  background-color: #A358FF;
  color: #fff;
  font-weight: 800;
  font-size: 1.25em;
  border: 0px solid black;
  border-radius: 12px;
  padding: 10.3px;

  transition: transform 0.3s ease-in-out;
}

#botao > button:hover {
  transform: scale(1.1);
}

#botao > button.clicado {
  transform: scale(1.5);
}