#reparar {
  padding-left: 55px;
  padding-right: 55px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

p {
  font-size: 0.9em;
}

main > h1 {
  font-size: 6em;
  color: #a358ff33;
  font-weight: 800;
}

main > h2 {
  font-size: 1.8em;
  transform: translateY(-114%);
}

main > form {
  background-color: #31323E;
  padding: 30px 40px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  height: auto;

  gap: 20px;
}

form > .duplaselecao {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.duplaselecao > .grupo-input {
  width: 50%;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 5px;
  width: 100%;
}

.grupo-input > input,select, #descricao,
#img > input {
  width: 100%;
  border-radius: 8px;
  background-color: #1D1E25;
  border: 0px solid black;
  
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  resize: vertical;

  transition: background-color 0.3s ease-in-out;
}

.grupo-input:hover input,
.grupo-input:hover select,
.grupo-input:hover #descricao,
#img:hover input {
  background-color: #0d0f18;
}

#outro_input {
  display: none;
  opacity: 0;
}

#outro_input.viewinput {
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin-top: -15px;
  color: #d5d5d5;
}

#descricao {
  height: 8em;
}

#img {
  background-color: #1D1E25;
  gap: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img.ativo {
  border-radius: 8px 8px 20px 20px;
  padding: 11px;
}

.grupo-input > #anexo {
  padding: 10px;
}

#preview {
  position: absolute;
  opacity: 0;
}

#preview.ativo {
  position: relative;
  opacity: 1;
  width: 500px;
  border-radius: 9px;
}

#botao {
  display: flex;
  width: 100%;
  justify-content: center;
}

#botao > button {
  margin-top: 30px;
  width: 70%;
  background-color: #A358FF;
  color: #fff;
  font-weight: 800;
  font-size: 1.25em;
  border: 0px solid black;
  border-radius: 12px;
  padding: 10.3px;

  transition: transform 0.3s ease-in-out;
}

#botao > button:hover {
  transform: scale(1.1);
}

#botao > button.clicado {
  transform: scale(1.5);
}

#overlay {
  display: none;
  opacity: 0;
}

#caixa_mensagem {
  display: none;
  opacity: 0;
}

#overlay.view {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #00000096;
  width: 100vw;

  z-index: 999;
  opacity: 1;
}

#caixa_mensagem.view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #31323E;
  color: white;
  z-index: 1000;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
}

#caixa_mensagem.view p {
  color: #b7b7b7;
  font-weight: 500;
}

#caixa_mensagem.view button {
  margin-top: 20px;
  width: 70%;
  padding: 10.3px;

  background-color: #A358FF;
  color: #fff;
  border: 0px solid black;
  border-radius: 12px;

  font-weight: 600;
  font-size: 1.1em;


  transition: transform 0.3s ease-in-out;
}

#caixa_mensagem.view > button:hover {
  transform: scale(1.1);
}