#pagina {
  width: 78%;
}

#ChamadosAdmin {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 100%;
  overflow-x: hidden;
}

#ChamadosAdmin > * {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
}
#topo {
  display: flex;
  align-items: center;
  position: relative;
}

#texto_chamado > p {
  position: absolute;
  transform: translateY(-5px);
}

#not_foto {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-left: auto;
  margin-right: 1%;
}

#notificacoes {
  background-color: #191920;
  border-radius: 999px;
}

#tabela {
  display: flex;
  flex-direction: column;
  gap:25px
}

#foto_perfil {
  aspect-ratio: 1;
  height: 8vh;
  background-color: #fff;
  border-radius: 999px;
}

#filtro {
  display: flex;
  gap: 3%;
}

#filtro > button {
  all:unset;
  border-bottom: 2px solid transparent;
  color: #9C9C9C;
  font-size: 0.85em;
  font-weight: 600;
}

#filtro > button.selecionado {
  color: #fff;
  border-bottom: 2px solid #9D4EDF;
}

#conteudotabela {
  gap: 3vh;
  display: flex;
  flex-direction: column;
}

.tabela {
  display: flex; 
  flex-direction: column; 
  width: 100%;
  gap:1.5vh;
}

.linha.header {
  font-weight: 700;
  margin-bottom: 3vh;
}
.linha.header:hover {
  transform: scale(1);
}

.chamado, .linha {
  all:unset;
  display: flex; 
  background-color: #191920; 
  border-radius: 15px; 
  padding: 10px 0;
  gap: 0.45em;
  align-items: center;
  font-size: 0.88em;
  font-weight: 600;

  transition: transform 0.3s ease-in-out;
}

.chamado > div, 
.linha > div {
  text-align: center;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  word-break: break-word; /* ESSENCIAL */
}

/* Animação imagem */
.chamado {
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.3s ease;
}

.mascara-imagem {
  position: absolute;
  inset: 0;
  background-image: url('../img/efeito_hover.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: -5;
}
.chamado:hover .mascara-imagem {
  opacity: 0.5;
  transform: scale(1);
}
.mascara-imagem.ativo {
  opacity: 0.5;
  transform: scale(1);
}


.baixa, .Aberto, .Concluido {
  color: #1FB80B;
}

.media, .Em.andamento {
  color: #FFBB00;
}

.alta, .Não.resolvido, .Cancelado, .Incompleto, .Negado {
  color: #B80B0B;
}

/* Animações e menu dropdown*/
.chamado-dropdown {
  max-height: 0;
  overflow: hidden;
  background-color: #10101B;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.chamado-dropdown.ativo {
  background-color: #10101B;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 800px;
}

.conteudo {
  background-color: #22223b;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.infos {
  display: flex;
  gap: 8%;
  background-color: #191a20;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1em;
  min-height: 3em;
  height: auto;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 8px;
}

.descricao > p,
.anexo > p {
  font-size: 1em;
  background-color: #191a20;
  border-radius: 8px;
  height: auto;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 12px;
}

.anexo > p {
  border-radius: 40px;
  min-height: 3em;
  height: auto;
  padding: 20px;
}

.anexo > p > img {
  width: 100%;
  border-radius: 20px;
}

form {
  display: flex;
  gap: 3vh;
}
form button {
  all: unset;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.acoes > form > button:hover {
  transform: scale(1.1);
}

button.assumir {
  width: 20%;
  background-color: #174111;
}

button.negar {
  width: 10%;
  background-color: #411111
}

